menu "AsicOS Configuration"

    choice ASICOS_BOARD
        prompt "Board variant"
        default ASICOS_BOARD_V1
        help
            Select the hardware board variant.

        config ASICOS_BOARD_V1
            bool "AsicOS V1"
    endchoice

endmenu
